.header-basic {
  background-color: #292c2f;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  height: 80px;
  box-sizing: border-box;
}

.header-basic .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header-basic .header-limiter h1 span {
  color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-basic .header-limiter nav{
  font:16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-basic .header-limiter nav a{
  display: inline-block;
  padding: 0 5px;
  text-decoration:none;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
  opacity: 1;
}

.header-basic .header-limiter nav a.selected {
  color: #608bd2;
  pointer-events: none;
  opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

  .header-basic {
    padding: 20px 0;
    height: 75px;
  }

  .header-basic .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-basic .header-limiter nav {
    line-height: 1;
    float:none;
  }

  .header-basic .header-limiter nav a {
    font-size: 13px;
  }

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
  margin:0;
  padding:0;
}
.panel-body {
  width: 15em;
}
.container {
  position: relative;
  height: 100vh;
}
.jumbotron{
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  transform: translate(0%, -20%);
}
#website-input{
  width:90%;
}

#input-submit{
  margin-top: 1em;
  position: absolute;
  left: 45%;
  right: 50%;
}

.footer-basic-centered{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

#reading {
  width: 90%;
}
.main-page {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

