
.panel-body {
  width: 15em;
}
.container {
  position: relative;
  height: 100vh;
}
.jumbotron{
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  transform: translate(0%, -20%);
}
#website-input{
  width:90%;
}

#reading {
  width: 90%;
}
<<<<<<< HEAD
=======
#text-container{
  /*width: 80%;*/
}
>>>>>>> add869c... Center Jumbotron and text
.main-page {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

