


      <!-- Main jumbotron for a primary marketing message or call to action -->

        <h1>SpeedReeder</h1>
        <hr>
        <% if (session[:user_id]) %>
          <div class="jumbotron">
            <p><span class="glyphicon glyphicon-record" aria-hidden="true"></span>
              Enter the website you want to speedreed below</p>
            <form method="post" action="/users/<%= @user.id %>/websites">
              <input type="text" placeholder="URL"></input>
              <input type="submit"></input>
            </form>
            <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div><!-- panel-heading -->
            <div class="panel-body">
              Panel content
            </div><!-- panel-body -->
          </div><!-- panel panel-success -->
            <button type="button" class="btn btn-lg btn-default" method="get" action="/users/<%= @user.id %>/websites">New Website</button>
            <button type="button" class="btn btn-lg btn-primary">Primary</button>
            <button type="button" class="btn btn-lg btn-success">Success</button>
            <button type="button" class="btn btn-lg btn-info">Info</button>
            <button type="button" class="btn btn-lg btn-warning">Warning</button>
            <button type="button" class="btn btn-lg btn-danger">Danger</button>
          </div> <!-- jumbotron -->

        <% else %>
          <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
          Please login or register to use this site
          </p>
          <a href="/sessions/new"><button type="button" class="btn btn-lg btn-primary"  >Login</button></a>
          <a href="/users/new"><button type="button" class="btn btn-lg btn-success">Register</button></a>
          <!-- erb :login, :layout false -->
        <% end  %>
        <p>
<div class="well">
        <p>
        <% if @website %>
        <% @website=Website.first %>
        <%= website.title%>
        <% end %>
        </p>
      </div>


