<<<<<<< HEAD
<div class="container">
  <div class="jumbotron">
    <div id="website-input" class="center-block">
      <form id="url" class="form-group"  method="post" action="/websites">
        <h3>Input the address of the website you would like to Speed REED</h3>
        <input name="url" type="text" class="form-control" placeholder="Enter Website">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
=======
<h1>Welcome to SpeedREED</h1>
        <hr>
<div class="jumbotron">
  <div id="website-input">
    <form id="url" class="form-group"  method="post" action="/websites">
      <h3>Input the address of the website you would like to SpeedREED</h3>
      <input name="url" type="text" class="form-control" placeholder="Enter Website">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br><br>
  <div class="hidden" id="reading">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Website text will flash below.</h3>
      </div>
     <H1> <div class="panel-body text-center">
      </div>
      </H1>
>>>>>>> fe73388... minor changes to layout
    </div>
    <div class="hidden center-block" id="reading">
      <div class="text-center" id="ready-to-read">
        <h3 id="title"> </h3>
      </div>
      <div class="panel panel-default center-block">
        <H1> <div id="text-object"class="text-center"></div>
        </H1>
      </div>
      <form id="WPM">
        <input type="range" name="amountRange" min="100" max="600" value="100" oninput="this.form.amountInput.value=this.value" />
        <input type="number" name="amountInput" min="100" max="600" value="100" oninput="this.form.amountRange.value=this.value" /> Words Per Minute
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-lg"  id="slider">
            Start Reading!
          </button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-warning btn-lg hidden"  id="pause">
            Pause
          </button>
        </div>

         <div class="btn-group">
          <button type="button" class="btn btn-danger btn-lg hidden"  id="stop">
            Stop
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
  <form id="WPM">
    <input type="range" name="amountRange" min="100" max="600" value="100" oninput="this.form.amountInput.value=this.value" />
    <input type="number" name="amountInput" min="100" max="600" value="100" oninput="this.form.amountRange.value=this.value" /> Words Per Minute
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-lg"  id="slider">
        Start Reading!
      </button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-warning btn-lg"  id="pause">
        Pause
      </button>
    </div>
  </form>

