      <!-- Main jumbotron for a primary marketing message or call to action -->
        <h1>Speed REED</h1>
        <hr>
          <div class="jumbotron">
            <p><span class="glyphicon glyphicon-record" aria-hidden="true"></span>
              Enter the website you want to Speed Reed below</p>
            <form method="post" id="url" action="/websites">
              <input name="url" type="text" placeholder="URL"></input>
              <input type="submit"></input>
            </form>
            <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Website Title</h3>
            </div><!-- panel-heading -->
            <div class="panel-body">
            <h1> </h1>
            </div><!-- panel-body -->
          </div><!-- panel panel-success -->
            <button type="button" class="btn btn-lg btn-default" id="300Wpm" method="get">300 WPM</button>
            <button type="button" class="btn btn-lg btn-primary" id="400Wpm">400 WPM</button>
            <button type="button" class="btn btn-lg btn-success" id="450Wpm">450 WPM</button>
            <button type="button" class="btn btn-lg btn-info" id="500Wpm">500 WPM</button>
            <button type="button" class="btn btn-lg btn-warning" id="550Wpm">550 WPM</button>
            <button type="button" class="btn btn-lg btn-danger" id="600Wpm">600 WPM</button>
          </div> <!-- jumbotron -->


