<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Speed Reeder</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap theme -->
    <link href="/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/theme.css" rel="stylesheet">
    <script src="/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>
    <link href="/css/application.css" rel="stylesheet">
  </head>

  <body class="main-page" role="document">
    <header class="header-basic">

            <div class="header-limiter">

                <h1><a href="#">Speed<span>REED</span></a></h1>

                <nav>
                    <a id = "website" href="http://rnbrandt.github.io/">Website</a>
                    <a id = "email"href="mailto:Reuben.Brandt@gmail.com">Email</a>
                    <a id="github" href="https://github.com/RNBrandt">GitHub</a>
                    <a id="LinkedIn" href="https://www.linkedin.com/in/reubenbrandt">LinkedIn</a>
                </nav>
            </div>

        </header>
    </nav>
    <div class="container theme-showcase" role="main">

      <%= yield %>

    </div> <!-- /container -->

    <footer class="footer-basic-centered">

            <p class="footer-company-motto">Created By Reuben Brandt</p>

            <p class="footer-links">
                <a href="http://rnbrandt.github.io/">Website</a>
                ·
                <a href="mailto:Reuben.Brandt@gmail.com">Email</a>
                ·
                <a href="https://github.com/RNBrandt">GitHub</a>
                ·
                <a href="https://www.linkedin.com/in/reubenbrandt">LinkedIn</a>
            </p>

            <p class="footer-company-name">Reuben Brandt &copy; 2016</p>

        </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Attaching sinatra js file -->
    <script src="/js/application.js"></script>
  </body>
</html>
